.hero-container{
    width: 100%;
    position: relative;
}
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.hero-container .carousel-btn {
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08), 4px 0px 18px rgba(0, 0, 0, 0.18);
    position: absolute;
    z-index: 2;
    top: 34%;
    font-size: 0;
    width: 44px;
    height: 80px;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-container .carousel-btn i{
    color: #000;
}
.hero-container img {
    width: 100%;
    display: block;
}
.prev-btn {
    left: 20px; /* Position the previous button to the left */
  }
  
  .next-btn {
    right: 20px; /* Position the next button to the right */
  }