.footer-strip {
    background: #3CAB88;
    width: 100%;
    padding: 30px 0;
}
.footer-strip ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
.footer-strip ul li {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-right: 1px dashed #D7F7F0;
}
.footer-strip ul li i {
    margin-right: 10px;
    color: #FFFFFF;
}
.footer-strip ul li i img {
    display: block;
}
.footer-strip ul li span {
    color: #FFFFFF;
    font-weight: bold;
}

.footer {
    width: 100%;
    background-color: #F2F2F2;
    padding: 50px 0 0;
}
.footer .footer-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer .footer-row .footer-row-text {
    width: 35%;
    padding-right: 5%;
}
.footer .footer-row .footer-nav {
    width: 25%;
}
.footer .footer-row .footer-nav:nth-child(2) {
    width: 20%;
}
.footer .footer-row .footer-nav:nth-child(3) {
    width: 20%;
}
.footer .footer-row .footer-nav {
    width: 25%;
}

.footer .footer-product-list {
    border-top: 1px dashed #B3B3B3;
    border-bottom: 1px dashed #B3B3B3;
    width: 100%;
    padding: 10px 0;
    margin: 30px 0;
}
.footer .sub-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}
.footer .footer-product-list a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-right: 15px;
    color: #3CAB88;
}
.footer .sub-footer span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.374px;
    color: #999999;
}
.footer .footer-row .footer-row-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding: 10px 0;
}
.footer .footer-row .footer-row-text .footer-icons {
    display: flex;
}
.footer .footer-row .footer-row-text .footer-icons li {
    padding-right: 10px;
}

.footer .footer-row .footer-nav .footer-title {
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}
.footer .footer-row .footer-nav .nav-footer li {
    padding: 5px 0;
}
.footer .footer-row .footer-nav .nav-footer li:first-child {
    padding-top: 0;
}
.footer .footer-row .footer-nav .nav-footer li a {
    color: #000000;
    font-size: 15px;
    font-weight: normal;
}
.footer .footer-row .footer-nav .footer-info li {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    padding: 8px 0;
}
.footer .footer-row .footer-nav .footer-info li i {
    display: block;
    margin-right: 10px;
}
.footer .footer-row .footer-nav .footer-info li a {
    color: #000000;
    margin-left: 5px;
}
.footer .footer-row .footer-nav .download-app {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.footer .footer-row .footer-nav .download-app li {
    padding-right: 10px;
}
.footer .footer-row .footer-nav .download-app li:first-child {
    width: 100%;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    display: block;
}
.footer .footer-row .footer-nav .download-app li:last-child {
    padding-right: 0;
}